!!! 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
		script(src='http://localhost:35729/livereload.js')
		meta(charset='UTF-8')
		meta(content='width=device-width, initial-scale=1.0', name='viewport')

		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

	body

		// start nav, responsive and degrades nicely for smaller devices
		header.navbar.navbar-default.navbar-fixed-top(role='banner')
			
			.container

				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle(data-target='.navbar-bs-collapse', data-toggle='collapse', type='button')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						|Atlas Home

				// Collect the nav links, forms, and other content for toggling
				nav.collapse.navbar-collapse.navbar-bs-collapse(role='navigation')
					- var activeClass
					ul.nav.navbar-nav
						- activeClass = ('explore' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/explore') Explore
						- activeClass = ('about' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/about') About
						- activeClass = ('download' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/download') Download
						- activeClass = ('glossary' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/glossary') Glossary

		block content

		small
			| Copyright &copy; 2013 Alaska Center for Climate Assessment and
			| Policy and the Scenarios Network for Alaska and Arctic
			| Planning, research institutes of the University of Alaska
			| Fairbanks. UAF is an affirmative action/equal opportunity employer
			| and educational institution.

			small 
				| Disclaimer: None of the products published on this website are 
				| intended to be used for navigational or operational
				| purposes. This website aggregates and displays data and
				| modeling products created by SNAP. We welcome suggestions
				| for clarification or correction, as appropriate.
			small
				| Neither SNAP, nor any of its members, employees
				| or agents makes any warranty, expressed or implied,
				| including merchantability and fitness for a particular
				| purpose, or assumes any legal liability or responsibility
				| for the accuracy, completeness or usefulness of any
				| information, apparatus, product or process disclosed, or
				| represents that its use does not infringe privately owned
				| rights.
			small
				| The user of these data and products assumes the
				| entire risk related to use of these date and this web site.
				| In no event will SNAP, its agents, employees or members be
				| liable to a user or any third party for any direct,
				| indirect, incidental, consequential, special or exemplary
				| damages, loss of life or lost profits resulting from any
				| use, misuse or reliance on any of the data or information
				| appearing on this website.

		script(src='/js/client.js')
