!!! 5
html
	head
		title= title

		link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700')
		link(rel='stylesheet', href='/css/style.css')
		link(href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700", rel="stylesheet", type="text/css")
		meta(charset='UTF-8')
		meta(content='width=device-width, initial-scale=1.0', name='viewport')

		script(src='http://maps.google.com/maps/api/js?v=3&sensor=false')

		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

	body

		// start nav, responsive and degrades nicely for smaller devices
		header.navbar.navbar-default.navbar-fixed-top(role='banner')
			
			.container

				// Brand and toggle get grouped for better mobile display
				.navbar-header
					button.navbar-toggle(data-target='.navbar-bs-collapse', data-toggle='collapse', type='button')
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href='/')
						|Atlas Home

				// Collect the nav links, forms, and other content for toggling
				nav.collapse.navbar-collapse.navbar-bs-collapse(role='navigation')
					- var activeClass
					ul.nav.navbar-nav
						- activeClass = ('explore' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/explore') Explore
						- activeClass = ('about' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/about') About
						- activeClass = ('download' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/download') Download
						- activeClass = ('glossary' === active) ? 'active' : ''
						li(class=activeClass)
							a(href='/glossary') Glossary

		block content
		footer#footer.well.well-small
			h1	
				| A joint project funded by the Alaska Ocean Observing System (AOOS), the Alaska Center for Climate Assessment and Policy (ACCAP), 
				| and the Scenarios Network for Alaska and Arctic Planning (SNAP)
			p
				strong Partners.&nbsp;&nbsp;
				| Funded by the National Ocean Service at the 
				| National Oceanic and Atmospheric Administration (NOAA) through 
				a(href="http://www.aoos.org/") AOOS&nbsp;
				| grant &num;NA11NOS0120020. 
				| Work was performed at UAF by the International Arctic Research Center's&nbsp;
				a(href="http://accap.uaf.edu") ACCAP&nbsp;
				| (funded by the NOAA Office of Oceanic and Atmospheric Research) and&nbsp;
				a(href="http://www.snap.uaf.edu") SNAP,&nbsp;
				| with assistance from the University of Illinois, Urbana-Champaign.&nbsp;&nbsp;&nbsp;
			p 
				strong Legal and contact information.&nbsp;&nbsp;
				|See&nbsp;
				a(href="/disclaimer") Disclaimer, Terms of Use&nbsp;
				| and&nbsp;
				a(href="/credits") Credits.&nbsp;
				| if you are with a for-profit organization, and are interested in 
				| commercialization opportunities and/or collaborative research &amp; development activities, please&nbsp;
				a(href='mailto:takurkowski@alaska.edu') contact us.&nbsp;&nbsp;
				| Copyright &copy; 2014 ACCAP and SNAP. 
			ul#footer-logos
					li
					a(href='http://www.iarc.uaf.edu')
						img(src='img/iarc-color.png', alt='International Arctic Research Center')
					li
					a(href='http://www.uaf.edu')
						img(src='img/UAF-color.png', alt='University of Alaska Fairbanks')
					li
					a(href='http://www.snap.uaf.edu')
						img(src='img/snap-color.png', alt='Scenarios Network for Alaska and Arctic Planning')
					li
					a(href='http://accap.uaf.edu')
						img(src='img/accap-color.png', alt='Alaska Center for Climate Assessment and Policy')
					li
					a(href='http://www.aoos.org')
						img(src='img/aoos-color.png', alt='Alaska Ocean Observing System')
			p 	The University of Alaska Fairbanks is an affirmative action/equal opportunity employer and educational institution.&nbsp;&nbsp;&nbsp;

		script(src='/js/client.js')
